<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burrec mos u zemero</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="public/assets/dist/css/app.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

</head>
<body>
<main>
    <div id="app" :class="{'cursor-pointer' : false}" style="width: 100%;">

        <header>
            <nav></nav>
        </header>


        <!-- Temporary helper -->
       <pre style="position: absolute; top:0;left: 0;z-index: 100; color:white">
           <span v-for="player in store.players">
               <span style="width: 15px;height: 15px; display: inline-block;"
                  :style="{backgroundColor: player.pawns[0].color}">
               </span>{{player.pawns[0].globalPosition}}
           </span>
           <button @click="rollDice(6)" class="nes-btn is-primary">Roll 6</button>
       </pre>


        <!-- Scene -->
        <vgl-renderer name="renderer" camera="cmr1" antialias style="height: 100vh; width: 100vw;">
            <vgl-scene name="scene" background-color="#222222">

                <!-- Board -->
               <vgl-box-geometry name="boardGeometry" width=11 height=0.1 depth="11"></vgl-box-geometry>
                <vgl-cylinder-geometry name="boardGeometry" :radial-segments=8  radius-top=8  radius-bottom=8.2 height=0.1></vgl-cylinder-geometry>
                <vgl-mesh-phong-material name="boardMaterial" color="#cccccc"></vgl-mesh-phong-material>
                <vgl-mesh geometry="boardGeometry" material="boardMaterial" :position="board.position"
                          recieve-shadow></vgl-mesh>

                <!-- Dice -->
                <dice-figure></dice-figure>

                <!-- Stepping Fields -->
                <vgl-group>
                    <vgl-cylinder-geometry name="fieldGeometry"
                                           radius-top=0.4
                                           radius-bottom=0.5
                                           height=0.1
                                           :radial-segments=store.settings.quality
                    ></vgl-cylinder-geometry>
                    <vgl-mesh-lambert-material name="fieldMaterial" color="#eeeeee"></vgl-mesh-lambert-material>
                    <vgl-mesh v-for="(field, index) in store.fields.path"
                              v-if="index%10"
                              :key="`field-${index}`"
                              :position="`${field.x} 0 ${field.z}`"
                              geometry="fieldGeometry" material="fieldMaterial"
                    >
                    </vgl-mesh>
                </vgl-group>


                <!-- Home Fields -->
                <vgl-group v-for="(player, playerIndex) in store.players" :key="`home-${playerIndex}`">
                                        <vgl-spot-light
                                                v-if="player.isPlaying"
                                                :name="`spotlight-${playerIndex}`"
                                                distance="10"
                                                angle=".2"
                                                penumbra="1.3"
                                                intensity="2"
                                                color="#ffffff"
                                                :target="`${store.fields.home[playerIndex].fields[0].x} 0 ${store.fields.home[playerIndex].fields[0].z}`"
                                                position="5 5 5"
                                        ></vgl-spot-light>

                    <vgl-mesh-lambert-material :name="`fieldMaterial-${playerIndex}`"
                                               :color="`${store.fields.home[playerIndex].color}`"
                    ></vgl-mesh-lambert-material>
                    <vgl-mesh v-for="(field, index) in store.fields.home[playerIndex].fields"
                              :key="`home-field-${index}`"
                              :material="`fieldMaterial-${playerIndex}`"
                              :position="`${field.x} 0 ${field.z}`"
                              geometry="fieldGeometry"
                    ></vgl-mesh>
                    <vgl-mesh v-for="(field, index) in store.fields.path"
                              v-if="index === player.index"
                              :key="`field-start-${playerIndex}`"
                              :position="`${store.fields.path[playerIndex*10].x} 0 ${store.fields.path[playerIndex*10].z}`"
                              geometry="fieldGeometry" :material="`fieldMaterial-${playerIndex}`"
                    >
                    </vgl-mesh>
                </vgl-group>

                <!-- Target Fields -->
                <vgl-group v-for="(player, playerIndex) in store.players"  :key="`target-${playerIndex}`">
                    <vgl-mesh-lambert-material :name="`fieldMaterial-${playerIndex}`"
                                               :color="`${store.fields.home[playerIndex ].color}`"
                    ></vgl-mesh-lambert-material>
                    <vgl-mesh v-for="(field, index) in store.fields.target[playerIndex].fields"
                              :key="`home-field-${index}`"
                              :material="`fieldMaterial-${playerIndex}`"
                              :position="`${field.x} 0.0${index} ${field.z}`"
                              geometry="fieldGeometry"
                    ></vgl-mesh>
                </vgl-group>




                <!-- Pawns -->
                <vgl-group>
                    <span v-for="(player, playerIndex) in store.players">

                        <pawn-geometry-material
                            :player-index='playerIndex'>
                        </pawn-geometry-material>
                        
                        <pawn-figure 
                        v-for="(pawn, index) in player.pawns" :key="`pawn-${playerIndex}-${index}`"
                        :index='index'
                        :player-index='playerIndex'
                        :pawn='pawn'
                        :name="`cube-${pawn.id}`"
                        ></pawn-figure>
                    
                </span>
                </vgl-group>




                <vgl-ambient-light color="#ffffff" intensity="0.12"></vgl-ambient-light>
                <vgl-point-light v-for="(light, index) in pointLights"
                                 :key="`light-${index}`"
                                 :color="light.color"
                                 :intensity="light.intensity"
                                 :distance="light.distance"
                                 :position="light.position"
                ></vgl-point-light>

            </vgl-scene>

            <vgl-perspective-camera name="cmr1" :position="`-4 8 -4`"></vgl-perspective-camera>

        </vgl-renderer>


        <start-screen></start-screen>
        <!--                <aside class="control-panel" style="width: 100%;position: absolute; top:0; z-index: 9; background-color: white;">-->
        <!--                    <label>Quality: <input type="range" v-model="store.settings.quality"> {{store.settings.quality}}</label>-->
        <!--                    <button @click="rotate">Rotate</button>-->
        <!--                    time: {{time}}-->
        <!--                    <label style="width: 100%; display: block;">X: <input style="width: 100%;" type="range" step="0.1" v-model="store.diceData.x"> {{store.diceData.x}}</label>-->
        <!--                    <label style="width: 100%; display: block;">Y: <input style="width: 100%;" type="range" step="0.1" v-model="store.diceData.y"> {{store.diceData.y}}</label>-->
        <!--                    <label style="width: 100%; display: block;">Z: <input style="width: 100%;" type="range" step="0.1" v-model="store.diceData.z"> {{store.diceData.z}}</label>-->
        <!--                </aside>-->


    </div>
    </div>
    <footer></footer>
</main>
<script src="public/assets/dist/js/app.js"></script>
</body>
</html>