<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burrec mos u zemero</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="public/assets/dist/css/app.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

</head>
<body>
<main>
    <header>
        <nav></nav>
    </header>

    <div id="app" :class="{'cursor-pointer' : store.cursorPointer}">
<!--            <the-game class="container" style="opacity: .15; pointer-events: none; display: none;" :stepping-fields="steppingFields"></the-game>-->

        <pre style="position: absolute; top:0;left: 0;z-index: 100; color:white" >
            <span v-for="player in store.players">
                <span style="width: 15px;height: 15px; display: inline-block;"
                      :style="{backgroundColor: player.pawns[0].color}">
                </span>{{player.pawns[0].globalPosition}}
            </span>
        </pre>

        <vgl-renderer name="renderer" camera="cmr1" antialias style="height: 100vh; width: 100vw;">
            <vgl-scene name="scene" background-color="#222222">

                <!-- Board -->
                <vgl-box-geometry name="boardGeometry" width=11 height=0.1 depth="11" ></vgl-box-geometry>
                <vgl-mesh-phong-material name="boardMaterial"></vgl-mesh-phong-material>
                <vgl-mesh geometry="boardGeometry" material="boardMaterial" :position="board.position" recieve-shadow></vgl-mesh>

                <!-- Dice -->
                <vgl-group>


                    <vgl-box-geometry name="diceGeometry" width=0.8 height=0.8 depth=0.8></vgl-box-geometry>
                    <vgl-mesh-lambert-material name="diceMaterial" color="#ffffff"></vgl-mesh-lambert-material>
                    <vgl-cylinder-geometry name="diceDotGeometry"
                                           radius-top=0.08
                                           radius-bottom=0.08
                                           height=0.05
                                           :radial-segments=6
                    ></vgl-cylinder-geometry>
                    <vgl-mesh-basic-material name="diceDotMaterial" color="#000000"></vgl-mesh-basic-material>


                    <vgl-group :rotation="`${store.diceData.x} ${store.diceData.y} ${store.diceData.z}`" position="5 0.7 5" name="dice">
                        <!--I-->
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" position="0 -0.4 0"></vgl-mesh>
                        <!--II-->
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" position="0.15 0.4 0.15"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" position="-0.15 0.4 -0.15"></vgl-mesh>

                        <!--III-->
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="1.57 0 0"
                                  position="0.175 0.175 0.4"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="1.57 0 0"
                                  position="0 0 0.4"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="1.57 0 0"
                                  position="-0.175 -0.175 0.4"></vgl-mesh>

                        <!--IV-->
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="1.57 0 0"
                                  position="0.15 0.15 -0.4"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="1.57 0 0"
                                  position="0.15 -0.15 -0.4"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="1.57 0 0"
                                  position="-0.15 -0.15 -0.4"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="1.57 0 0"
                                  position="-0.15 0.15 -0.4"></vgl-mesh>

                        <!--V-->
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="0.4 0.175 0.175"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="0.4 0.175 -0.175"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="0.4 -0.175 -0.175"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="0.4 -0.175 0.175"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="0.4 0 0"></vgl-mesh>
                        <!--V-->
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="-0.4 0.175 0.15"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="-0.4 0.175 -0.15"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="-0.4 0 -0.15"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="-0.4 0 0.15"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="-0.4 -0.175 0.15"></vgl-mesh>
                        <vgl-mesh geometry="diceDotGeometry" material="diceDotMaterial" rotation="0 0 1.57"
                                  position="-0.4 -0.175 -0.15"></vgl-mesh>

                        <vgl-mesh geometry="diceGeometry" material="diceMaterial"></vgl-mesh>
                    </vgl-group>
                </vgl-group>

                <!-- Stepping Fields -->
                <vgl-cylinder-geometry name="fieldGeometry"
                                       radius-top=0.45
                                       radius-bottom=0.45
                                       height=0.1
                                       :radial-segments=store.settings.quality
                ></vgl-cylinder-geometry>
                <vgl-mesh-lambert-material name="fieldMaterial"></vgl-mesh-lambert-material>



                <vgl-mesh v-for="(field, index) in store.fields.path"
                          v-if="index%10"
                          :key="`field-${index}`"
                          :position="`${field.x} 0 ${field.z}`"
                          geometry="fieldGeometry" material="fieldMaterial"
                >
                </vgl-mesh>


                <!-- Home Fields -->
                <span v-for="(player, playerIndex) in store.players">

                    <vgl-mesh-lambert-material :name="`fieldMaterial-${playerIndex}`"
                                               :color="`${store.fields.home[playerIndex].color}`"
                    ></vgl-mesh-lambert-material>

                    <vgl-mesh v-for="(field, index) in store.fields.home[playerIndex].fields"
                              :key="`home-field-${index}`"
                              :material="`fieldMaterial-${playerIndex}`"
                              :position="`${field.x} 0 ${field.z}`"
                              geometry="fieldGeometry"
                    ></vgl-mesh>

                    <vgl-mesh v-for="(field, index) in store.fields.path"
                              v-if="index === player.index"
                              :key="`field-start-${playerIndex}`"
                              :position="`${store.fields.path[playerIndex*10].x} 0 ${store.fields.path[playerIndex*10].z}`"
                              geometry="fieldGeometry" :material="`fieldMaterial-${playerIndex}`"
                    >
                    </vgl-mesh>

                </span>

                <!-- Target Fields -->
                <span v-for="(player, playerIndex) in store.players">
                    <vgl-mesh-lambert-material :name="`fieldMaterial-${playerIndex}`"
                                               :color="`${store.fields.home[playerIndex ].color}`"
                    ></vgl-mesh-lambert-material>
                    <vgl-mesh v-for="(field, index) in store.fields.target[playerIndex].fields"
                              :key="`home-field-${index}`"
                              :material="`fieldMaterial-${playerIndex}`"
                              :position="`${field.x} 0.0${index} ${field.z}`"
                              geometry="fieldGeometry"
                    ></vgl-mesh>
                </span>


                <!-- Pawns -->
                <vgl-cylinder-geometry name="pawnIndicatorGeometry" radius-top=0.08 height="0.15"
                                       radius-bottom=0.12></vgl-cylinder-geometry>

                <vgl-mesh-basic-material name="indicatorMaterial"
                                           color="#ffffff"
                                           opacity='0.1'
                                           transparent='true'
                ></vgl-mesh-basic-material>

                <vgl-cylinder-geometry name="pawnBodyGeometry"
                                       radius-top=0
                                       radius-bottom=0.3
                                       height=1
                                       :radial-segments=store.settings.quality
                ></vgl-cylinder-geometry>

                <vgl-sphere-geometry name="pawnHeadGeometry"
                                     radius=0.2
                                     :width-segments=store.settings.quality
                                     :height-segments=store.settings.quality
                ></vgl-sphere-geometry>


                <span v-for="(player, playerIndex) in store.players">
                    <vgl-mesh-phong-material :name="`pawnMaterial-${playerIndex}`"
                                               :color="`${store.fields.home[playerIndex].color}`"
                    ></vgl-mesh-phong-material>

                    <vgl-mesh-lambert-material :name="`fieldMaterial-${playerIndex}`"
                                               :color="`${store.fields.home[playerIndex].color}`"
                    ></vgl-mesh-lambert-material>

                    <vgl-group v-for="(pawn, index) in player.pawns" :key="`pawn-${playerIndex}-${index}`"
                               :position="getPawnPosition(pawn)"
                               :name="`cube-${pawn.id}`">




                        <vgl-mesh :material="`pawnMaterial-${playerIndex}`"
                                  position="0 0.6 0"
                                  geometry="pawnBodyGeometry"
                        ></vgl-mesh>
<!--                        <vgl-mesh :material="`pawnMaterial-${playerIndex}`"-->
<!--                                  position="0 1 0"-->
<!--                                  geometry="pawnHeadGeometry"-->
<!--                        ></vgl-mesh>-->

                        <vgl-group position="0 0 0" :rotation="`0 ${indicator.rotation} 0`" v-if="pawn.isActive"
                                   :name="`cube-${pawn.id}`">
<!--                            <vgl-mesh material="indicatorMaterial"-->
<!--                                      position="0.3 0.5 0"-->
<!--                                      rotation="0 0 -1.3"-->
<!--                                      geometry="pawnIndicatorGeometry"-->
<!--                            ></vgl-mesh>-->
<!--                            <vgl-mesh material="indicatorMaterial"-->
<!--                                      position="-0.3 0.5 0"-->
<!--                                      rotation="0 0 1.3"-->
<!--                                      geometry="pawnIndicatorGeometry"-->
<!--                            ></vgl-mesh>-->
<!--                            <vgl-mesh material="indicatorMaterial"-->
<!--                                      position="0 0.5 0.3"-->
<!--                                      rotation="1.3 0 0"-->
<!--                                      geometry="pawnIndicatorGeometry"-->
<!--                            ></vgl-mesh>-->

                            <vgl-mesh material="indicatorMaterial"
                                      position="0 0.5 -0.3"
                                      rotation="-1.3 0 0"
                                      geometry="pawnIndicatorGeometry"
                            ></vgl-mesh>
                        </vgl-group>
                    </vgl-group>

                </span>






                <vgl-ambient-light color="#ffffff" intensity="0.13"></vgl-ambient-light>
                <vgl-point-light v-for="(light, index) in pointLights"
                                 :key="`light-${index}`"
                                 :color="light.color"
                                 :intensity="light.intensity"
                                 :distance="light.distance"
                                 :position="light.position"
                ></vgl-point-light>

            </vgl-scene>

            <vgl-perspective-camera name="cmr1" :position="`-4 8 -4`"></vgl-perspective-camera>

        </vgl-renderer>


<!--                <aside class="control-panel" style="width: 100%;position: absolute; top:0; z-index: 9; background-color: white;">-->
<!--                    <label>Quality: <input type="range" v-model="store.settings.quality"> {{store.settings.quality}}</label>-->
<!--                    <button @click="rotate">Rotate</button>-->
<!--                    time: {{time}}-->
<!--                    <label style="width: 100%; display: block;">X: <input style="width: 100%;" type="range" step="0.1" v-model="store.diceData.x"> {{store.diceData.x}}</label>-->
<!--                    <label style="width: 100%; display: block;">Y: <input style="width: 100%;" type="range" step="0.1" v-model="store.diceData.y"> {{store.diceData.y}}</label>-->
<!--                    <label style="width: 100%; display: block;">Z: <input style="width: 100%;" type="range" step="0.1" v-model="store.diceData.z"> {{store.diceData.z}}</label>-->
<!--                </aside>-->


    </div>
    <footer></footer>
</main>
<script src="public/assets/dist/js/app.js"></script>
</body>
</html>