/* Generic
========================================================================== */
@import "colors";
@import "variables";
@import "utilities";
/* Vendor
========================================================================== */
// Bootsrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "node_modules/normalize.css/normalize";
@import "node_modules/family.scss/source/src/family";
// Responsive file handler
// Notes: Requires BootsrapGrid
@import "responsive";

.disabled {
    opacity: .3;
}


.board {
    padding: 20px;
    position: relative;
    width: 500px;
    height: 500px;
    background-color: lightblue;
    //transform: perspective(800px) rotatex(50deg) rotateY(0deg) rotatez(20deg);
    transform: perspective(1000px) rotatex(31deg) rotateY(-10deg) rotatez(10deg);
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    transform: translateX(-11px) translateY(-11px);

    &.is-avaliable {
        -webkit-box-shadow: 0px 5px 5px 5px greenyellow;
        -moz-box-shadow: 0px 5px 5px 5px greenyellow;
        box-shadow: 0px 5px 5px 5px greenyellow;
    }

    &.red {
        background: red;
    }
    &.yellow {
        background: yellow;
    }
    &.green {
        background: green;
    }
    &.blue {
        background: dodgerblue;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+14}) {
            left: 300px;
        }
    }
    @for $i from 21 through 25 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+14}) {
            left: 200px;
        }
    }
    @for $i from 5 through 9 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+26}) {
            top: 200px;
        }
    }
    @for $i from 11 through 14 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+15}) {
            top: 300px;
        }
    }
    @for $i from 2 through 5 {
        &:nth-child(#{$i}),
        &:nth-child(#{40 - $i}) {
            top: 50px* ($i - 1);
        }
    }
    @for $i from 6 through 9 {
        &:nth-child(#{$i}),
        &:nth-child(#{20 - $i}) {
            left: 50px* ($i + 1);
        }
    }
    @for $i from 15 through 19 {
        &:nth-child(#{$i}),
        &:nth-child(#{40 - $i}) {
            top: 50px* ($i - 9);
        }
    }
    @for $i from 32 through 34 {
        &:nth-child(#{$i}),
        &:nth-child(#{60 - $i}) {
            left: 50px * ($i - 31);
        }
    }
    &:nth-child(10) {
        top: 250px;
        left: 500px;
    }

    &:nth-child(20) {
        left: 250px;
        top: 500px;
    }
    &:nth-child(30) {
        top: 250px;
        left: 0;
    }
    &:nth-child(40) {
        left: 250px;
        top: 0;
    }
}

.dice {
    position: absolute;
    right: 0;
    top: 0;
}

.player-home {
    &.is-playing {
        -webkit-box-shadow: 0px 5px 5px 5px greenyellow;
        -moz-box-shadow: 0px 5px 5px 5px greenyellow;
        box-shadow: 0px 5px 5px 5px greenyellow;
    }

    position: absolute;
    &:nth-of-type(4) {
        left: 10px;
        top: 10px;
    }
    &:nth-of-type(1) {
        right: 10px;
        top: 10px;
    }
    &:nth-of-type(3) {
        left: 10px;
        bottom: 70px;
    }
    &:nth-of-type(2) {
        right: 10px;
        bottom: 70px;
    }
    .circles {
        position: relative;
        .circle:nth-child(1) {
            top: 0;
            left: 0;
        }
        .circle:nth-child(2) {
            top: 0;
            left: 50px;
        }
        .circle:nth-child(3) {
            top: 50px;
            left: 0;
        }
        .circle:nth-child(4) {
            top: 50px;
            left: 50px;
        }
    }
}