/* Generic
========================================================================== */
@import "colors";
@import "variables";
@import "utilities";
/* Vendor
========================================================================== */
// Bootsrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~normalize.css/normalize";
@import "~family.scss/source/src/family";
@import "~nes.css/scss/nes";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html, body, pre, code, kbd, samp {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #232323;
}

#app {
    position: absolute;
}

canvas {
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}


// Helpers
.is-full-width {
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
}

.nes-btn {
    margin-bottom: 15px;
}

.game-interface-wrapper {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    .player-name {
        position: absolute;
        width: 300px;
        &:nth-child(1){
            left: 10px;
            bottom: 10px;
        }
        &:nth-child(2){
            left: 10px;
            top: 10px;
        }
        &:nth-child(3){
            right: 10px;
            top: 10px;
        }
        &:nth-child(4){
            right: 10px;
            bottom: 10px;
        }
    }
}
