/* Generic
========================================================================== */
@import "colors";
@import "variables";
@import "utilities";
/* Vendor
========================================================================== */
// Bootsrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "node_modules/normalize.css/normalize";
@import "node_modules/family.scss/source/src/family";
// Responsive file handler
// Notes: Requires BootsrapGrid
@import "responsive";

#app {
    position: absolute;
}
canvas {
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

