/* Generic
========================================================================== */
@import "colors";
@import "variables";
@import "utilities";
/* Vendor
========================================================================== */
// Bootsrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "node_modules/normalize.css/normalize";
@import "node_modules/family.scss/source/src/family";
// Responsive file handler
// Notes: Requires BootsrapGrid
@import "responsive";

.disabled {
    opacity: .3;
}

.board {
    padding: 20px;
    position: relative;
    width: 500px;
    height: 500px;
    background-color: lightblue;
    //transform: perspective(800px) rotatex(50deg) rotateY(0deg) rotatez(20deg);
    transform: perspective(1000px) rotatex(31deg) rotateY(-10deg) rotatez(10deg);
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    transform: translateX(-11px) translateY(-11px);

    &.is-avaliable {
        -webkit-box-shadow: 0px 5px 5px 5px greenyellow;
        -moz-box-shadow: 0px 5px 5px 5px greenyellow;
        box-shadow: 0px 5px 5px 5px greenyellow;
    }

    &.red {
        background: $red;
    }
    &.yellow {
        background: $yellow;
    }
    &.green {
        background: $green;
    }
    &.blue {
        background: $blue;
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+14}) {
            left: 300px;
        }
    }



    @for $i from 21 through 25 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+14}) {
            left: 200px;
        }
    }
    @for $i from 5 through 9 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+26}) {
            top: 200px;
        }
    }
    @for $i from 11 through 14 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+15}) {
            top: 300px;
        }
    }
    @for $i from 2 through 5 {
        &:nth-child(#{$i}),
        &:nth-child(#{40 - $i}) {
            top: 50px* ($i - 1);
        }
    }
    @for $i from 6 through 9 {
        &:nth-child(#{$i}),
        &:nth-child(#{20 - $i}) {
            left: 50px* ($i + 1);
        }
    }
    @for $i from 15 through 19 {
        &:nth-child(#{$i}),
        &:nth-child(#{40 - $i}) {
            top: 50px* ($i - 9);
        }
    }
    @for $i from 32 through 34 {
        &:nth-child(#{$i}),
        &:nth-child(#{60 - $i}) {
            left: 50px * ($i - 31);
        }
    }
    &:nth-child(10) {
        top: 250px;
        left: 500px;
    }

    &:nth-child(20) {
        left: 250px;
        top: 500px;
    }
    &:nth-child(30) {
        top: 250px;
        left: 20px;
    }
    &:nth-child(40) {
        left: 250px;
        top: 20px;
    }

    @for $i from 41 through 44 {
        &:nth-child(#{$i}),
        &:nth-child(#{$i+8}) {
            left: 250px;
        }

        &:nth-child(#{$i + 8}){
            background-color: $blue;
        }
    }

    @for $i from 41 through 44 {
        &:nth-child(#{$i}) {
            top: 50px* ($i - 40);
            background-color: $red;
        }
    }

    &:nth-child(49) {
        top: 50px * 9;
    }
    &:nth-child(50) {
        top: 50px * 8;
    }
    &:nth-child(51) {
        top: 50px * 7;
    }
    &:nth-child(52) {
        top: 50px * 6;
    }


    &:nth-child(45) {
        left:50px * 9;
    }
    &:nth-child(46) {
        left:50px * 8;
    }
    &:nth-child(47) {
        left:50px * 7;
    }
    &:nth-child(48) {
        left:50px * 6;
    }

    @for $i from 45 through 48 {
        &:nth-child(#{$i}) {
            top: 250px;
            background-color: $yellow;
        }
    }
    @for $i from 53 through 56 {
        &:nth-child(#{$i}) {
            top: 250px;
            left: 50px * ($i - 52);

            background-color: $green;
        }
    }
}


@for $i from 1 through 16 {
    .field-target-#{$i} {
        @extend .circle:nth-child(#{$i + 40}) !optional;
    }
}


.the-dice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40px) translateY(-40px);
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;

    &.is-playing {
        -webkit-box-shadow: 0px 5px 5px 5px greenyellow;
        -moz-box-shadow: 0px 5px 5px 5px greenyellow;
        box-shadow: 0px 5px 5px 5px greenyellow;
    }

}

.player-home {
    &.is-playing {
        -webkit-box-shadow: 0px 5px 5px 5px greenyellow;
        -moz-box-shadow: 0px 5px 5px 5px greenyellow;
        box-shadow: 0px 5px 5px 5px greenyellow;
    }

    position: absolute;
    &:nth-of-type(4) {
        left: 10px;
        top: 10px;
    }
    &:nth-of-type(1) {
        right: 10px;
        top: 10px;
    }
    &:nth-of-type(3) {
        left: 10px;
        bottom: 70px;
    }
    &:nth-of-type(2) {
        right: 10px;
        bottom: 70px;
    }
    .circles {
        position: relative;
        .circle:nth-child(1) {
            top: 0;
            left: 0;
        }
        .circle:nth-child(2) {
            top: 0;
            left: 50px;
        }
        .circle:nth-child(3) {
            top: 50px;
            left: 0;
        }
        .circle:nth-child(4) {
            top: 50px;
            left: 50px;
        }
    }
}

.player-pawns {
    position: absolute;
    left: 0;
    top: 0;

    &.red {
        color: $red;
    }
    &.yellow {
        color: $yellow;
    }
    &.green {
        color: $green;
    }
    &.blue {
        color: $blue;
    }

    .pawn {
        white-space: nowrap;
    }
}

body {
    background: #ccc;
    overflow: hidden;
}

.pawn-figure {
    background-image: url('/public/assets/img/pawn.png');
    position: absolute;
    width: 20px;
    height: 20px;
    transition: all .1s ease-in-out;

    box-shadow: 7px 6px 11px 0px rgba(0, 0, 0, 1.1);
    //transform: translateX(-10px) translateY(-10px);

    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 9px;

    filter: saturate(2);
    transform: perspective(287px) translateX(-11px) translateY(-11px) translateZ(70px);

    &.red {
        background: $red;
    }
    &.yellow {
        background: $yellow;
    }
    &.green {
        background: $green;
    }
    &.blue {
        background: $blue;
    }
    &.is-skipping {
    transform: perspective(287px) translateX(-21px) translateY(-21px) translateZ(90px)
    }

    &.is-avaliable {
        box-shadow: 7px 6px 11px 0px greenyellow;
    }

}

.field-0{
    @extend .circle:nth-child(1);
}
.field-1{
    @extend .circle:nth-child(2);
}

.field-54{

}

@for $i from 1 through 55 {
    .field-#{$i - 1} {
        @extend .circle:nth-child(#{$i});
    }
}



// The DICE

.scene.animate {
    animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

}

@keyframes shake {
    0%, 100% {
        transform: translateZ(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }

}

.scene {
    //width: 100px;
    //height: 100px;
    //border: 1px solid #CCC;
    //margin: 80px;
    //perspective: 400px;

    width: 1000px;
    position: absolute;
    height: 1200px;
    left: -130px;
    top: -300px;
    perspective: 1010px;
    transform: perspective(1000px) rotatex(31deg) rotateY(-10deg) rotatez(10deg) translateZ(-760px);
    pointer-events: none;

    .cube {
        pointer-events: all;
        width: 100px;
        height: 100px;
        position: relative;
        transform-style: preserve-3d;
        transform: translateZ(-50px);
        transition: transform .2s;
        cursor: pointer;

        &.show-one {
            transform: translateZ(-50px) rotateY(0deg);
        }
        &.show-two {
            transform: translateZ(-50px) rotateY(-90deg);
        }
        &.show-three {
            transform: translateZ(-50px) rotateY(-180deg);
        }
        &.show-four {
            transform: translateZ(-50px) rotateY(90deg);
        }
        &.show-five {
            transform: translateZ(-50px) rotateX(-90deg);
        }
        &.show-six {
            transform: translateZ(-50px) rotateX(90deg);
        }
    }
    .cube__face {
        position: absolute;
        width: 100px;
        height: 100px;
        border: 2px solid black;
        border-radius: 12px;
        background-color: #fff;

        &--one {
            transform: rotateY(0deg) translateZ(50px);
            .dot {
                left: calc(50% - 5px);
                top: calc(50% - 5px);
            }
        }
        &--two {
            transform: rotateY(90deg) translateZ(50px);
            .dot {
                &:nth-child(1) {
                    left: calc(33% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(2) {
                    left: calc(66% - 5px);
                    top: calc(66% - 5px);
                }

            }
        }
        &--three {
            transform: rotateY(180deg) translateZ(50px);
            .dot {
                &:nth-child(1) {
                    left: calc(33% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(2) {
                    left: calc(66% - 5px);
                    top: calc(66% - 5px);
                }
                &:nth-child(3) {
                    left: calc(50% - 5px);
                    top: calc(50% - 5px);
                }
            }
        }
        &--four {
            transform: rotateY(-90deg) translateZ(50px);
            .dot {
                &:nth-child(1) {
                    left: calc(33% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(2) {
                    left: calc(66% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(3) {
                    left: calc(33% - 5px);
                    top: calc(66% - 5px);
                }
                &:nth-child(4) {
                    left: calc(66% - 5px);
                    top: calc(66% - 5px);
                }
            }
        }
        &--five {
            transform: rotateX(90deg) translateZ(50px);
            .dot {
                &:nth-child(1) {
                    left: calc(33% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(2) {
                    left: calc(66% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(3) {
                    left: calc(33% - 5px);
                    top: calc(66% - 5px);
                }
                &:nth-child(4) {
                    left: calc(66% - 5px);
                    top: calc(66% - 5px);
                }
                &:nth-child(5) {
                    left: calc(50% - 5px);
                    top: calc(50% - 5px);
                }
            }
        }
        &--six {
            transform: rotateX(-90deg) translateZ(50px);

            .dot {
                &:nth-child(1) {
                    left: calc(33% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(2) {
                    left: calc(66% - 5px);
                    top: calc(33% - 5px);
                }
                &:nth-child(3) {
                    left: calc(33% - 5px);
                    top: calc(50% - 5px);
                }
                &:nth-child(4) {
                    left: calc(66% - 5px);
                    top: calc(50% - 5px);
                }
                &:nth-child(5) {
                    left: calc(33% - 5px);
                    top: calc(66% - 5px);
                }
                &:nth-child(6) {
                    left: calc(66% - 5px);
                    top: calc(66% - 5px);
                }
            }
        }

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #000;
            position: absolute;
        }

    }
}